html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  overflow: hidden;
}

/* Color some UI elements based on your team's color. */
.team-red body > header,
.team-red #controls button:active,
#grid .red {
  background-color: #C0392B;
}
.team-green body > header,
.team-green #controls button:active,
#grid .green {
  background-color: #27AE60;
}
.team-blue body > header,
.team-blue #controls button:active,
#grid .blue {
  background-color: #2980B9;
}

body > header {
  font-family: Helvetica, Arial, sans-serif;
  color: #FFF;
  padding: 5px;
  box-sizing: border-box;
  position: relative;
  z-index: 100;
}
  body > header #title {
    margin: 0;
    text-align: center;
  }

#rules h1 {
  display: none;
}

#game {
  position: relative;
  height: 100%;
  box-sizing: border-box;
}
  #game > h1 {
    display: none;
  }

#grid {
  /* Vertically & horizontally center the grid. See below for more styles 
     related to this. */
  position: absolute;
  top: 50%;
  left: 50%;
}

#grid .sq {
  float: left;
  box-sizing: border-box;
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.025);
  margin-left: -1px;
  margin-top: -1px;

  font-family: monospace;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.333);
}
  #grid .sq .player {
    /* fill the whole cell */
    position: absolute;
    height: 100%;
    width: 100%;

    /* overlap the border */
    margin-top: -1px;
    margin-left: -1px;
    padding: 1px;

    z-index: 10;
  }
  #grid .sq .tail {
    opacity: 0.5;
  }
  #grid .sq .head {
    opacity: 0.75;
  }

#controls button {
  position: absolute;
  opacity: 0.5;
  background: none;
  border: 0;
  font-size: 4em;
  font-weight: bolder;
  z-index: 90;
  box-sizing: border-box;
}

#controls button:hover {
  opacity: 0.75;
  background-color: #FFF;
  box-shadow: 0 0 10px black;

   /* Make it so that venturing into the corners while hovering won't switch 
      to another button. */
  z-index: 91;
}

#controls button:active {
  color: #FFF;
}

#controls .left, #controls .right {
  width: 20%;
  height: 100%;
}

#controls .up, #controls .down {
  height: 20%;
  width: 100%;
}

#controls .left {
  left: 0;
  top: 0;
}

#controls .right {
  top: 0;
  right: 0;
}

#controls .up {
  top: 0;
  left: 0;
}

#controls .down {
  bottom: 0;
  left: 0;
}


@media all and (orientation: landscape) {
  body > header {
    position: fixed;
    right: 0;
    height: 100%;
    width: 20%;
  }
  #game {
    width: 80%;
  }
}

@media all and (orientation: portrait) {
  body > header {
    height: 20%;
  }
  #game {
    height: 80%;
  }
}

/* Adjust grid/cell size based on screen size. Generally we try to keep the 
   grid at around 1.6 * the viewport width. */
#grid {
  height: 500px;
  width: 500px;
  margin-left: -250px;
  margin-top: -250px;
}
@media all and (min-width: 500px) {
  #grid {
    height: 800px;
    width: 800px;
    margin-left: -400px;
    margin-top: -400px;
  }
}
@media all and (min-width: 800px) {
  #grid {
    height: 1280px;
    width: 1280px;
    margin-left: -640px;
    margin-top: -640px;
  }
}
@media all and (min-width: 1280px) {
  #grid {
    height: 2048px;
    width: 2048px;
    margin-left: -1024px;
    margin-top: -1024px;
  }
}
@media all and (min-width: 2048px) {
  #grid {
    height: 3276.8px;
    width: 3276.8px;
    margin-left: -1638.4px;
    margin-top: -1638.4px;
  }
}
