body {
  padding: 0;
  margin: 0;
}

#title {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  background-color: #C0392B;
  color: #FFF;
  text-align: center;
  padding: 5px;
}

#grid .sq {
  float: left;
  height: 49px;
  width: 49px;
  border-right: 1px solid #BBB;
  border-bottom: 1px solid #BBB;
}

#grid {
  width: 500px;
  height: 500px;
  border-top: 1px solid #BBB;
  border-left: 1px solid #BBB;
}

.red {
  background-color: #C0392B;
}
.blue {
  background-color: #2980B9;
}
.green {
  background-color: #27AE60;
}
